<?xml version="1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="traingle" class="com.spring.examples.beans.TraingleV06" name="traingle.name">
		<property name="PointA">
			<bean class="com.spring.examples.beans.Point06">
				<property name="x" value="0" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="PointB" ref="pointB" />
		<property name="PointC">
			<bean class="com.spring.examples.beans.Point06">
				<property name="x" value="-20" />
				<property name="y" value="20" />
			</bean>
		</property>
	</bean>



	<bean id="pointB" class="com.spring.examples.beans.Point06">
		<property name="x" value="-20" />
		<property name="y" value="-20" />
	</bean>

<alias name="traingle" alias="traingle.alias"></alias>
</beans>